*/bin/
*/*.class
*/.classpath
*/.project
*/.settings/
*/.settings/*
*/.settings/*/*
*/.settings/*/*/*
*/.settings/*/*/*/*
*/.settings/*/*/*/*/*
*/.settings/*/*/*/*/*/*
*/.settings/*/*/*/*/*/*/*
*/.settings/*/*/*/*/*/*/*/*
*/.settings/*/*/*/*/*/*/*/*/*
*/.settings/*/*/*/*/*/*/*/

# Eclipse
*.pydevproject
.project
 